<ons-page>
    <ons-toolbar>
        <div class="center">Disaster Preparedness for Nonoichi</div>
    </ons-toolbar>
    <div style="text-align: center">
        <font size="6">
            <p>Emergency Procedures</p>
        </font>
         <div style="text-align: center">
        <table>
            <tr>
                <td><img src="picture/構成.jpg" width="370" height="440"> </td>
                </tr>
                <tr>
        </table>
        <font size="5" color="0000ff">
        </font>
            <ons-button ng-click="myNavigator.pushPage('page1.html')"
         <p style=" position :absolute ; top : 600px;left : 110px">
        <p> Back </p>
        </ons-button>
         <ons-button ng-click="myNavigator.pushPage('Sites.html')"
           <p style=" position :absolute ; top : 600px;left : 230px">
        <p> Next </p>
        </ons-button>
    </div>
</ons-page>