<ons-page>
    <ons-toolbar>
      
        <div class="center">Floods</div>
    </ons-toolbar>

    <div style="text-align: center">
    <font size="5" color="#ff0000">
    <p>Phenomenon</p></font>
    <font size="5">
    <p>When heavy rain is observed  during typhoons or thunderstorms, water will overflow from rivers and streams.</font></p>
     <font size="5" color="#ff0000">
         <p>Knowledge</p></font>
        <p>・Check the flood Hazard Map of the area of your residence.
         <br>・Stay away from rivers. Evacuate into buildings and stay above the 2nd floor.
    </p>

     
       
           <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 430px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 480px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>
