<ons-page>
    <ons-toolbar>
        <div class="center">Lightning</div>
    </ons-toolbar>
    
     <div style="text-align: center">
    <font size="5">
    <p></p></font>
     <font size="5" color="#ff0000">
         <p>Knowledge</p></font>
    <p>・If you are outside, stay away from trees taller Than 2 meters.
    <br>・If you are in a car, bus or train, stay inside to keep safe.
    <br>・If you are at home, unplug any electronic devices and stay indoors.
    
    
    
    
    
    
               <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 430px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 480px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>
