<ons-page>
    <ons-toolbar>
        <div class="center">Heavy Snow</div>
    </ons-toolbar>
    
     <div style="text-align: center">
    <font size="5">
    <p></p></font>
     <font size="5" color="#ff0000">
         <p>Knowledge</p></font>
    <p>・Buses and trains may stop their services.
    <br>・Do not ride bicycles or motorcycles.
    <br>・Help each other in cleaning up the snow.
    <br>・Wear slip resistant winter boots.
    <br>Put on studless snow tires for your vehicle.
    
    
    
    
    
    
               <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 430px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 480px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>
