<ons-page>
    <ons-toolbar>
       
        <div class="center">Earthquake</div>
    </ons-toolbar>
    

    <div style="text-align: center">
        <font size="5" color="#ff0000">
    <p>Phenomenon</p></font>
    <font size="6">
    <p>Tremors in the ground</font></p>
    <font size="5" color="#ff0000">
    <p>Knowledge</p></font>
    
    <font size="4" color="0000ff">
    <p>When an earthquake strikes.</font> <br> ・Houses may be damaged.  
    <br>・Roads may be blocked. Trains and buses may be out of service.
    <br>・Gas, water and electricity may be out of order. Phone lines may be down.
    <br>・Beware of fires, aftershocks, tsunamis and landslides.
    </p>
     <font size="4" color="0000ff">
     <p>If you are at home</font> <br>(1)First, ensure your own safety. Take cover under a table or a desk. Do not rush outside.
     <br>(2)Turn off the gas once the tremor stops. Secure a way out for yourself.
     <br>(3)Things to remember when you evacuate. Do not run when you evacuate, and take only what you need with you. Be aware of the surroundings. Keep away from stone walls, cliffs and rivers. 
     </p>
     <font size="4" color="0000ff">
     <p>If you are outside</font> <br>(1)In a shopping or business district. Watch out for faling objects such as sign boards and glass from windows. Protect your head with a bag or something firm and get away from buildings.
     <br>(2)In a residential area. Roof tiles may fall into narrow alleys. Bricks and stone walls may also fall over. Beware and do not touch any broken power lines.
     <br>(3)Driving. Pull over to the left side of the road and leave the key in the ignition before leaving your car.
     <br>(4)Inside a train, bus or Shinkansen(bullet train). Vehicles may come to sudden stop. If you are sitting, Keep your body at a low position. If you are standing, hold tight onto a handrail to prevent yourself from falling over. Follow instructions given by the crew members.
    </div></p>
    
    
     
     
       
           <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 1150px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 1200px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>
