<ons-page>
    <ons-toolbar>
       
        <div class="center">Typhoons</div>
    </ons-toolbar>
    
     <div style="text-align: center">
     <font size="5" color="#ff0000">
    <p>Phenomenon</p></font>
    <font size="5">
    <p>Typhoons cause heavy rain and strong winds. Tyhoon season is usually from summer to autumn.</p></font>
     <font size="5" color="#ff0000">
         <p>Knowledge</p></font>
    <p>・Secure outdoor objects or place that could be blown away indoor.
    <br>・Avoid going outside when the wind starts getting stronger.
    
    
    
    
    
    
               <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 430px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 480px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>
