<ons-page>
    <ons-toolbar>
       
        <div class="center">Earthquake</div>
    </ons-toolbar>
    <div style="text-align: center">
    <font size="6">
    <p>Preparing for an Earthquake</font></p>

    
    <font size="4">
    <p><br> 1. Tightly secure freestanding furniture with brackets and bolts to stable walls or pillars.
    <br>2. Assist those who may need additional help, such as infants, the elderly or handicapped individuals.
    <br>3. Prepare a plan of how to contact and meet separated family members and friends. 
    <br>
    </p>
        <font size="6">
    <p>Preparation for normal day</font></p>
     <font size="4" color="0000ff">
     <p>Locate your neighborhood’s shelter</font> <br>・ Identify the location of the nearest park and school.
        <br>
     </p>
     <font size="4" color="0000ff">
     <p>Resister your personal information with your embassy</font> <br>・ Once registered, you can receive announcements from the embassy and use their online safety confirmation system.
    <br>
    </div></p>
    
         <font size="4" color="0000ff">
     <p>Earthquake Response and Emergency Procedures</font> <br>1. Avoid danger and stay safe.
    <br>2. Extinguish fire outbreaks. <font size="3"><br>Don`t attempt to put out fires that are out of control. </font>
    <br>3. Locate and secure an exit.
    <br>4. When evacuating, walk and remain calm. Be sure to.


    <br>
    </div></p>
    
    
    
    
     
     
       
           <ons-button
                 ng-click="myNavigator.pushPage('page4.html')"
                 <p style=" position :absolute ; top : 1150px;left : 130px">
          Back
              
          
        </ons-button>
               <ons-button
                 ng-click="myNavigator.pushPage('page1.html')"
                 <p style=" position :absolute ; top : 1200px;left : 136px">
                 
          Top
        </ons-button>

    </div>
</ons-page>